{% extends 'base.html' %}
{% block title %}{{ post.author.first_name.title }}{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <form class="container mt-3" method="POST">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <input type="submit" value="Ok">
        </form>
    {% else %}
        <p>O'zincha saytga buzib kirmoqchi bo'layabsanmi iloji yo'q hali meni darajamga yetishinga million yil borga o'xshayabdi men har qanday harakatingni oldindan o'ylab qo'yganman !</p>
    {% endif %}
{% endif %}
{% endblock content %}